<p>
  <%= @someone.name %>さんの最近のつぶやきです
</p>
<% if login? && @someone.name != @user.name %>
<div id="follow">
  <% unless @followed %>
  <a href="/<%= @someone.name %>/follow">フォローする</a>／
  <% else %>
  <a href="/<%= @someone.name %>/remove">リムーブする</a>
  <% end %>
</div>
<% end %>
<% if @someone.tweets.present? %>
<div id="timeline">
  <table>
    <% @someone.tweets.each do |tweet| %>
    <tr>
      <td>
	<%= tweet.body %>
      </td>
      <td>
	<%= tweet.created_at %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
